<div class="heart">
    <button class="fa-solid fa-heart span-heart span-heart01 button open-button "></button>
    <dialog class="modalq" id="modal">
        <h1>Team Project</h1>
        <h2>Team-Project-App</h2>
        <div class="modal123">
            <div class="modal-content123">
                <ul id="scrollable-list123">
                    <li>Test</li>
                </ul>
            </div>
        </div>
        <button class="button close-button">close modal</button>
    </dialog>
</div>