<div class="heart">
    <button class="fa-solid fa-heart span-heart span-heart01 button open-button "></button>

</div>
<dialog class="modalq" id="modal">
    <ul class="item-students">
        <li class="items-st">
            <h2 class="name-dev">Oleh Fedorchuk</h2>
            <p class="description-dev">Developed: Dark-thema</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Chernuchenko Alex</h2>
            <p class="description-dev">Developed: Api-book</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Vova Prodan</h2>
            <p class="description-dev">Developed: Home-categories</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Alex Roy</h2>
            <p class="description-dev">Developed: Shopping-list</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Anatoly Tokarev</h2>
            <p class="description-dev">Developed: Header</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Vitaly Carmelita</h2>
            <p class="description-dev">Developed: Menu-modal, modal_footer, modal-pop</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Zakhar</h2>
            <p class="description-dev">Developed: Team lead</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Ilya Tkachenko</h2>
            <p class="description-dev">Developed: Books-localStorage</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Sergey Balaba</h2>
            <p class="description-dev">Developed: Home_support</p>
        </li>
        <li class="items-st">
            <h2 class="name-dev">Vladyslav</h2>
            <p class="description-dev">Home-categories</p>
        </li>

    </ul>
    <button class="button close-button">Close Modal</button>
</dialog>