<div class="footer">
  <div class="footer-container">
    <div class="footer-logo-div">
      <a href="./index.html" class="link-logo-footer link">
        <svg class="icon-logo">
          <use href="./images/icons.svg#icon-logo-002"></use>
        </svg>
        <p class="link-logo-text-footer">Bookshelf</p>
      </a>
      <p class="footer-logo-text">
        "A room without books is like a body without a soul."
      </p>
    </div>

    <div class="about">
      <h2 class="title">Information</h2>
      <a href="#" class="link-information">Contacts</a>
      <a href="#" class="link-information">Delivery and payment</a>
      <a href="#" class="link-information">Gift certificates</a>
      <a href="#" class="link-information">Return of goods</a>
      <a href="#" class="link-information">Сooperation</a>
    </div>

    <div class="mobile-application">
      <h2 class="title">Mobile application</h2>
      <p class="text">
        Explore and indulge in a top-notch book selection from renowned authors
        through our mobile app.
      </p>
      <div class="img-flex">
        <a
          href="https://play.google.com/store/search?q=book&c=apps"
          class="link"
        >
          <img src="./images/google-play.svg" alt="Google Play" />
        </a>
        <a
          href="https://www.apple.com/ua/search/book?src=globalnav"
          class="link"
        >
          <img src="./images/app-store.svg" alt="AppStore" />
        </a>
      </div>
    </div>

    <div class="developers">
      <h2 class="title">Developers</h2>
      <p class="text">
        the best development team <br />
        can be found here
        <span class="emoji">&#x1F60E;</span>
      </p>
    </div>
  </div>
</div>
