<header>
  <div class="header-container">
    <div class="container-link">
      <a href="./index.html" class="link-logo link">
        <svg class="icon-logo">
          <use href="./images/icons.svg#icon-logo-002"></use>
        </svg>
        <p class="link-logo-text">Bookshelf</p>
      </a>
    </div>

    <ul class="link-home-ul">
      <li>
        <a href="./index.html" class="nav-link link current">HOME</a>
      </li>
      <li>
        <a href="./shopping-list.html" class="nav-link">
          SHOPPING LIST
          <svg class="icon-shopping">
            <use href="./images/icons.svg#icon-uil_cart"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="switcher">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>

    <div class="button-container">
      <button type="button" class="user-btn">
        <span class="icon-user-span">
          <svg class="icon-user">
            <use href="./images/icons.svg#icon-user"></use>
          </svg>
        </span>
        <span class="user-btn-text">User</span>
        <svg class="icon-user-support">
          <use href="./images/icons.svg#icon-fi-ss-caret-down"></use>
        </svg>
      </button>

      <button type="button" class="register-btn">
        <p class="register-btn-text">Log out</p>
        <svg class="register-btn-icon">
          <use href="./images/icons.svg#arrow-narrow-right"></use>
        </svg>
      </button>
    </div>

    <button type="button" class="menu-open">
      <svg class="icon-menu-open">
        <use
          href="./images/icons.svg#icon-align-left"
          class="header-icon-open"
        ></use>
        <use
          href="./images/icons.svg#icon-x-close"
          class="header-icon-close icon-display-none"
        ></use>
      </svg>
    </button>
  </div>
</header>
