<div class="overlay_log">
  <div class="login_action">
    <form class="login_form" action="">
      <button class="modal_login_btn_close" type="button">
        <svg class="modal-svg" width="24px" height="24px">
          <use href="/src/images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="login_flex">
        <input
          class="login_input"
          placeholder="NAME"
          type="text"
          name="name"
          id=""
          required
        />
        <input
          class="login_input"
          placeholder="EMAIL"
          type="text"
          name="email"
          id=""
          required
        />
        <input
          class="login_input"
          placeholder="PASSWORD"
          type="text"
          name="password"
          id=""
          required
        />
      </div>
      <button class="btn_login" type="submit">Sign up</button>
      <div class="log_btn">
        <button class="btn_sign_up" type="submit">Sign up</button>
        <button class="btn_sign_in" type="submit">Sign in</button>
      </div>
    </form>
    <div class="login_error"></div>
  </div>
</div>
