!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="shopping-list-container">
        <h1 class="title">Shopping<span class="title-wrapper">List</span></h1>
        <div class="list-wrapper"></div>
        <ul class="shopping-list"></ul>
        </div>
      
    </main>
    <!-- ❗️❗️❗️ Add partials like so for every page -->

    <include src="./partials/home__support.html"></include>
    <script type="module" src="./js/shopping-list.js"></script>
  </body>
</html>