:root {
    --accent-color: #4F2EE8;
    --hover-book-color: #EAC645;
    --categories-text-color-light: rgba(17, 17, 17, 0.60);
    --categories-text-color-dark: rgba(255, 255, 255, 0.60);
    --logo-color-text: #111111;
    --primery-bg-color-light: #F6F6F6;
    --primery-bg-color-dark: #202024;
    --primery-font: 'DM Sans', Sans-serif;
    --primery-text-color-dark: #F3F3F3; 
    --header-bg-color-light: #fff;
    --header-bg-color-dark: #000;
    --secondary-text-color: #B4AFAF;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    box-sizing: border-box;
}

.container-mobile {
    max-width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-tablet {
    max-width: 704px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}

.container-desktop {
    width: 1392px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}