
.bookslist{
  display: flex;
}
.book-cover{
  width: 180px;
  height: 256px;
  border-radius: 8px;
}

.booklist-container{
  width: 998px;
}

.book-card{
  width: 180px;
  height: 306px;
}

.bookslist .book-card + .book-card {
  margin-left: 24px;
}

.books-in-categories-list .category-item + .category-item {
  margin-top: 40px;
}

.button-container{
  display: flex;
  flex-direction: row-reverse;
}
.book-title{
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}