.header-container {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: #111;
}

.container-link {
  display: flex;
  align-items: center;
  height: 28px;
  align-items: center;
  gap: 8px;
}

.icon-menu-open {
  stroke: black;
}
.link-home {
  display: none;
}

.container-shopping {
  display: none;
}

.switcher {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 14px;
  /* padding-top: 10px; */
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#4f2ee8, #dcdcdc);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  top: 1px;
  left: 1px;

  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(#4f2ee8, #686868);
}

input:focus + .slider {
  box-shadow: 0 0 1px #4f2ee8;
}

input:checked + .slider:before {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu-open {
  cursor: pointer;
  background-color: #fff;
  border: 0px;
}

.user-btn {
  display: none;
}
.icon-logo {
  height: 24px;
  width: 24px;
}

.icon-shopping {
  width: 20px;
  height: 20px;
}

.icon-switcher {
  width: 40px;
  height: 24px;
}

.icon-user-support {
  height: 26px;
  width: 23px;
}

.icon-menu-open {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 375px) {
  .header-container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding: 14px 32px;
  }

  .link-home {
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: #111;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }
  .container-shopping {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
  .link-shopping {
    color: #111;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
  }

  .icon-shopping {
    margin-left: 8px;
  }

  .user-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 184px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 36px;
    border: 0px;
    background: #4f2ee8;
  }

  .icon-user {
    width: 37px;
    height: 37px;
    border-radius: 50px;
  }
  .user-btn-text {
  }

  .user-btn-text {
    color: #fff;
    font-size: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
  }

  .icon-user-support {
    fill: #fff;
  }
  .menu-open {
    display: none;
  }
}
