.section-category {

padding-top: 40px;
padding-bottom: 40px;

}

/* .container {
    max-width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
} */

.category {
    width: 335px;
    height: 228px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;

}



.category::-webkit-scrollbar {
    width: 8px;
    height: 167px;
}

.category::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #E0E0E0;
}

.category-list {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-link {
    font-family: 'DM Sans',
        Sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.13;
    color: var(--categories-text-color-light);
}


.is-active {
    color: var(--is-active-home-category-color);
}
a.is-active {
     color: var(--is-active-home-category-color);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.33;

}

a.category-link:hover {
color: var(--is-active-home-category-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.33;
}

.thumb {
    position: relative;
    overflow: hidden;
 
}

.overlay-book {
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: var(--hover-book-color);
    padding: 26px 52px;
    border-radius: 0px 0px 8px 8px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-card {
    color: var(--logo-color-text);
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.thumb:hover .overlay-book {
    opacity: 1;
    transform: translateY(0);
}

.thumb:hover .hidden-card {
    opacity: 1;
}


@media screen and (min-width: 768px) {

    /* .container {
        max-width: 704px;
        padding-left: 32px;
        padding-right: 32px;
        
            
            
    } */
    .category {
        margin-left: 0;
        width: 337px;
        height: 472px;
    }


    .category-list {
        gap: 32px;
    }
.category-link {
    font-size: 18px;
    font-weight: 1.33;
}

}

@media screen and (min-width: 1440px) {

    /* .container {
    width: 1392px;
        padding-left: 24px;
        padding-right: 24px;
    } */
    .category {
        width: 356px;

    }

}