.support-box {
  display: grid;
  max-width: 335px;
  height: 375px;
  padding-top: 24px;
  max-width: 335px;
  height: 352px;
  background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;
}

.support__img {
  filter: grayscale(100%) brightness(0) invert(100%);
  padding-left: 16px;

   transition: filter var(--animation),
  transform var(--animation);

}

.js-target:hover .support__img,
.js-target:focus .support__img {
    filter: none;
    transform: scale(1.1);
  }

@media screen and (min-width:428px) {
  .support-box{
  max-width: 335px;
  height: 352px;
  }      
}

@media screen and (min-width: 768px){
  .support-box{
  min-width: 335px;
  height: 472px;
}

}
@media screen and (min-width: 1440px){
  .support-box{
  max-width: 356px;
  height: 490px;
  }
}

.support-title {
  display: flex;
  padding-left: 40px;
  font-family: var(--primary-font);
  color: #FFFFFF;
  font-weight: 700;
  margin-top: 16px;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  padding-bottom: 40px;
}

.support-list {
  padding-left: 40px;
}

.support-button {
  display: flex;
  background-color: var(--categories-text-color-dark);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  }

@media screen and (min-width:428px) {
  .support-button{ 
  width: 32px;
  height: 32px;
  }
}

@media screen and (min-width: 768px) {
  .support-button{
  width: 38px;
  height: 38px;
}
}
    
@media screen and (min-width: 1440px) {
  .support-button{
  width: 38px;
  height: 38px;
  }
} 

.support-button:focus,
.support-button:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-support {
  justify-content: center;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 24px; 
  margin-top: 40px;
  background-color: #FFFFFF;
  border-radius: 50;
  transition: background-color var(--animation);
  animation: bounce 3s infinite;
}

.support-button-svg {
  fill: var(--accent-color);
  display: flex;
  margin: 0;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 428px){
  .support-button-svg{
  width: 20px;
  height: 20px;
  }
}

@media screen and (min-width: 768px){
  .support-button-svg{
  width: 22px;
  height: 22px;
  }
}
    
@media screen and (min-width: 1440px){
  .support-button-svg{
  width: 22px;
  height: 22px;
  }
}

.support-svg {
  fill: #FFFFFF;
  margin-left: 12px;
}

.support-img {
  fill: var(--categories-text-color-dark);

  margin-left: 16px;
  filter: brightness(0) invert(1); 
}

.support-number {
  color: var(--categories-text-color-dark);
  display: flex;
  align-items: center;
  height: 32px;
}

.support-link {
  margin-bottom: 20px;
}
.support-link:last-child {
  margin-bottom: 0;
}


.slider-container{
  overflow: hidden;
  scroll-behavior: smooth;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-6px);}
	60% {transform: translateY(-4px);}
}