/* .login_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--categories-text-color-light);
  z-index: 30;
}

.overlay_log {
   background: linear-gradient(#4f2ee8, #dcdcdc);
  width: 100%;
  height: 100%;
}

.login_action {
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 579px;
  max-height: 516px;
  border: 2px solid var(--modal-border-color);
  background-color: var(--base-bg-color);
  border-radius: 18px;
  padding: 80px 40px 40px 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 31;
}

.modal_login_btn_close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 0;

  background-color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login_flex {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 40px;
}

.login_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0 20px 40px;
  border-radius: 40px;
  border: 2px solid var(--modal-border-color);
  background-color: #f6f6f6;

  color: #111;
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.btn_login {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 499px;
  width: 100%;
  padding: 20px 0;
  border-radius: 40px;
  border: 2px solid var(--primery-bg-color-light);
  background-color: var(--is-active-home-category-color);
  color: var(--book-title-books-container-color);
  margin-bottom: 20px;

  font-size: 18px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  transition: all var(--animation);
}

.btn_login:hover {
  background-color: var(--is-active-home-category-color);
    border-color: var(--color1);
    color: var(--primery-bg-color-light)
}

.log_btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.btn_sign_in {
  color: rgba(17, 17, 17, 0.5);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: inherit;
}

.btn_sign_up {
  color: rgba(17, 17, 17, 0.5);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: inherit;
}

.login_error {
  text-align: center;
  color: red;
} */


.login_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--categories-text-color-light);
  z-index: 30;
}

.overlay_log {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
   background: linear-gradient(#4f2ee8, #dcdcdc);
  z-index: 200;
}

.login_action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 100%;
  max-width: 579px;
  max-height: 516px;
  border: 2px solid var(--modal-border-color);
  background-color: var(--base-bg-color);
  border-radius: 18px;
  padding: 80px 40px 40px 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 31;
}

.modal_login_btn_close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 0;

  background-color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login_flex {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 40px;
}

.login_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 0 20px 40px;
  border-radius: 40px;
  border: 2px solid var(--modal-border-color);
  background-color: #f6f6f6;

  color: #111;
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.btn_login {
  display: flex;
  text-align: center;
  justify-content: center;
  max-width: 499px;
  width: 100%;
  padding: 20px 0;
  border-radius: 40px;
  border: 2px solid var(--primery-bg-color-light);
  background-color: var(--is-active-home-category-color);
  color: var(--book-title-books-container-color);
  margin-bottom: 20px;

  font-size: 18px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  transition: all var(--animation);
}

.btn_login:hover {
  background-color: var(--is-active-home-category-color);
    border-color: var(--color1);
    color: var(--primery-bg-color-light)
}

.log_btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.btn_sign_in {
  color: rgba(17, 17, 17, 0.5);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: inherit;
}

.btn_sign_up {
  color: rgba(17, 17, 17, 0.5);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: inherit;
}

.login_error {
  text-align: center;
  color: red;
}
